/*font inclusion*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url('font/OpenSans-Regular-webfont.eot');
  src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/OpenSans-Regular-webfont.woff') format('woff'),
  url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansLight';
  src: url('font/OpenSans-Light-webfont.eot');
  src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/OpenSans-Light-webfont.woff') format('woff'),
  url('font/OpenSans-Light-webfont.ttf') format('truetype'),
  url('font/OpenSans-Light-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('font/OpenSans-ExtraBold-webfont.eot');
  src: url('font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/OpenSans-ExtraBold-webfont.woff') format('woff'),
  url('font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
  url('font/OpenSans-ExtraBold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;

}