label{
  display: block; font-family: 'OpenSansRegular'; text-transform: uppercase;
  em{ color: $gray; text-transform: none;}
}
textarea{ width: 100%; border: 1px solid #CCC; padding: 5px; }
input{
  &.text{ border: 1px solid #CCC; line-height: 1.2em; padding: 5px; width: 100%}
  &.wpcf7-submit{ background: $main-dark; color: $main-light;font-family: 'OpenSansRegular'; text-transform: uppercase;
    padding: 5px 10px; border:none; cursor: pointer;
    &:hover{ background: $third-color;

      -webkit-transition: background-color 100ms linear;
      -moz-transition: background-color 100ms linear;
      -o-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
    }
  }
}