h1{  font-family: 'OpenSansRegular';  font-size: 68px; line-height: 1.1em; margin-bottom: 0.2em;  }
h2{  font-family: 'OpenSansRegular'; font-size: 29px; margin-bottom: 0.6em; font-weight: normal; line-height: 1.2em;   }
h3 { margin-bottom: 8px; }
h4{ font-weight: normal; font-family: 'OpenSansRegular'; text-transform: uppercase; font-size: 25px; line-height: 1.3em;}
h5{ color: $gray; font-weight: normal; }

strong{
  &.color_mc{ color: $main-color; }
  &.color_sc{ color: $second-color;}
} 
p{ margin-bottom: 0.8em;  }
ol,ul{
  li{}
}
.slot.text{
  ul{ margin-left: 15px;
    li{ list-style-type: square;  }

  }
  ol{ margin-left: 15px;
    li{ list-style-type: decimal;  }
  }
  ol, ul{ margin-bottom: 0.8em; }
}
a{ text-decoration: underline;
  &:hover{ text-decoration: none; }
}
hr{ display: block; border:none;  border-top: 1px solid $gray; margin-top: 15px; margin-bottom: 15px; }

span.gray{ color: $gray; }
.slot.center{ text-align: center;}


@mixin strongColor($color){
  strong{ color: $color;}
  a{ color: $color; }
  &.text p strong, &.text p a{ color: $main-dark; }

}
.slot.color_mc{
  @include strongColor($main-color);
}
.slot.color_sc{
  @include strongColor($second-color);
}
.slot.color_tc{
  @include strongColor($third-color);
}
.slot.color_fc{
  @include strongColor($fourth-color);
}
.slot.color_gray{ background: #e5e5e5; color: #383330;
  a{ color: #383330; text-decoration: underline; }
  .w-content{ margin: 20px; }
  h2{ font-family: OpenSansRegular; text-transform: uppercase; font-size: 44px; margin-bottom: 2px;  }
  h3{ font-family: OpenSansRegular; }
  h4{ margin-bottom: 8px; }
  p{ line-height: 1em; }
  ul{ margin-bottom: 15px; }
}

.slot .slot.color_gray{ margin-bottom: 15px;
  border:1px solid #e5e5e5;
}

.slot.color_b-mc,
.slot.color_b-sc,
.slot.color_b-tc,
.slot.color_b-fc{
  .w-content{padding:10px;
   color: $main-light;
  }
}
@mixin specificBorderColor{
  .slot.color_b-mc .w-content{ border-color: $main-color;}
  .slot.color_b-sc .w-content{ border-color: $second-color;}
  .slot.color_b-tc .w-content{ border-color: $third-color;}
  .slot.color_b-fc .w-content{ border-color: $fourth-color;}
}
@mixin specificBackgroundColor{
  .slot.color_b-mc {  background-color:  $main-color;}
  .slot.color_b-sc {  background-color:  $second-color;}
  .slot.color_b-tc {  background-color:  $third-color;}
  .slot.color_b-fc {  background-color:  $fourth-color;}
}
//@include specificBorderColor;
@include specificBackgroundColor;

@media #{$mqVideo}{
  $font-size: 14px; $line-height: 1.2em;
  hr{ margin-bottom: 8px; margin-top: 8px; }
  h2{ font-size: 23px;
    .slot.color_gray &{ font-size: 34px; }
  }
  h4{ font-size: 20px; }
  p{ font-size: 14px; line-height: 1.2em;
    .slot.color_gray & { line-height: 1.1em;}
  }
  li{font-size:$font-size; line-height: $line-height;}

}
@media #{$mqTablet} {


}
@media #{$mqPhone} {

}