/*utility*/
@mixin tocenter{ text-align:center; margin:0 auto;}
@mixin rounded-corners ($radius: 5px) {  border-radius: $radius;  -webkit-border-radius: $radius;  -moz-border-radius: $radius; }
@mixin invisible {display:none;}
.invisible, .oldbrowser, .no-mobile { @include invisible; }

@mixin visible {display:block;}
.visible{ @include visible; }
.clear{clear:both; }
.clearR{ clear: right;}
@mixin reset{ margin: 0; padding: 0; border: none; background: none;}

@mixin bordered($size: 1px, $color:$main-dark){ border: $size solid $color;}
@mixin shadow($x:2px, $y:3px, $blur:4px, $main-dark:#333){-moz-box-shadow: $x $y $blur $main-dark; -webkit-box-shadow: $x $y $blur $main-dark;box-shadow:$x $y $blur $main-dark}
@mixin opacity($value){-moz-opacity: $value; opacity: $value; }
@mixin tleft{ text-align:left;}
@mixin tright{ text-align: right;}
@mixin tcenter{ text-align: center;}
@mixin bold{  font-weight: bold; }
@mixin italic{  font-style: italic; }
@mixin uppercase{ text-transform: uppercase; }
@mixin rotate($deg:30deg){
  transform: rotate($deg); -ms-transform: rotate($deg); /* IE 9 */ -webkit-transform: rotate($deg); /* Safari and Chrome */
  -o-transform: rotate($deg); /* Opera */ -moz-transform: rotate($deg); /* Firefox */ }
@mixin treset{ font-weight: normal; font-style: normal; }
@mixin underline{ text-decoration: underline;}

@mixin only-mobile{ display: block; }
@mixin col{
  &.sx{ float: left; }
  &.dx{ float: right; }
}
@mixin alignleft {  float: left;  margin-right: 1em; margin-bottom: 1em; @include shadow; }
@mixin alignright {  float: right;}
@mixin aligncenter {  display: block;  margin-left: auto;  margin-right: auto;}
@mixin polaroid{ border:5px solid #fff !important; @include shadow; }
@mixin colorTransition{
  -webkit-transition: color 500ms linear;
  -moz-transition: color 500ms  linear;
  -o-transition: color 500ms  linear;
  -ms-transition: color 500ms  linear;
  transition: color 500ms  linear;
}
@mixin  opacityFade{
  -webkit-transition: opacity 0.3s ease-in; //for chrome, safari
  -moz-transition: opacity 0.3s ease-in; //for mozilla firefox
  -o-transition: opacity 0.3s ease-in; //for opera
}