/*Modules*/
@import "style/modules/_reset.scss";
@import "style/modules/_utility.scss";
@import "style/modules/_font.scss";
@import "style/modules/_gridSystem.scss";


/*Colorset*/
$main-dark: #313d44;
$main-light:#fff;
$ligt-transparent:rgba(255,255,255,0.3);
$main-color:#d9261c;
$second-color:#007dc2;
$third-color:#e6a400;
$fourth-color:#0dc10d;
$gray: #a59992;

/*Fontset dimension & main typografy*/
$size: 16px;
$lh:1.3em;
/*Commons*/

body{ color: main-light;  font-size: $size; font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
  line-height:$lh; color: $main-dark; }
image{ width: auto; height: auto; }
.slot{
  .content{ margin: 15px;
    @media #{$mqVideo}{ margin: 10px; }
    @media #{$mqTablet}{ margin: 8px; }
    @media #{$mqPhone}{ margin: 15px; }
  }
}


.slot.colored{
  h2{ font-variant: small-caps;  font-family: 'OpenSansRegular';}
  &.maincolor{ background: $main-color; @include shadow(); }
  &.secondcolor{ background: $second-color; @include shadow(); }
}
@import "style/modules/_form.scss";
@import "style/modules/_typography.scss";


/*Partials*/
@import "style/partials/_header.scss";
@import "style/partials/_footer.scss";
@import "style/partials/_home.scss";

/*Vendors*/
/*DEBUG*/
.widget.widget_recent_entries h2.widgettitle{ font-size: 30px; margin-bottom: 8px; }
.widget.widget_recent_entries {list-style: none; margin: 0; }
.widget.widget_recent_entries li {margin-bottom: 10px;
  a{ font-weight: bold; }
  span{ display: block; font-variant: small-caps; color: $gray; }
}
table{width: 100%;
  td{ padding: 4px; border-bottom: 1px solid $gray; }
  th{ background: $gray; color: $main-light; }
  @media #{$mqPhone} {
    td, th{ display: block; }
  }
}