/*Modules*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none; }

code, kbd, samp, pre, tt, var, textarea, input, select, isindex {
  font: inherit;
  font-size: 1em; }

dfn, i, cite, var, address, em {
  font-style: normal; }

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet {
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td, center {
  text-align: left;
  vertical-align: top; }

q {
  quotes: "" ""; }

ul, ol {
  list-style: none; }

sub, sup {
  vertical-align: baseline; }

a {
  color: inherit; }

hr {
  display: none; }

/* we don't need a visual hr in layout */
font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important; }

/* disables some nasty font attributes in standard browsers */
/* MAIN TYPOGRAPHY */
strong, th, thead td, h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

cite, em, dfn {
  font-style: italic; }

code, kbd, samp, pre, tt, var {
  font-size: 90%;
  font-family: monaco, "Lucida Console", courier, mono-space; }

del {
  text-decoration: line-through;
  color: #666; }

ins, dfn {
  border-bottom: 1px solid #ccc; }

small, sup, sub {
  font-size: 85%; }

abbr, acronym {
  text-transform: uppercase;
  font-size: 85%;
  letter-spacing: .1em; }

a abbr, a acronym {
  border: none; }

abbr[title], acronym[title], dfn[title] {
  cursor: help;
  border-bottom: 1px solid #ccc; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

article, footer {
  margin: 0;
  padding: 0; }

/*end RESET*/
/*utility*/
.invisible, .oldbrowser, .no-mobile {
  display: none; }

.visible {
  display: block; }

.clear {
  clear: both; }

.clearR {
  clear: right; }

/*font inclusion*/
@font-face {
  font-family: 'OpenSansRegular';
  src: url("font/OpenSans-Regular-webfont.eot");
  src: url("font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Regular-webfont.woff") format("woff"), url("font/OpenSans-Regular-webfont.ttf") format("truetype"), url("font/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("font/OpenSans-Light-webfont.eot");
  src: url("font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-Light-webfont.woff") format("woff"), url("font/OpenSans-Light-webfont.ttf") format("truetype"), url("font/OpenSans-Light-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url("font/OpenSans-ExtraBold-webfont.eot");
  src: url("font/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("font/OpenSans-ExtraBold-webfont.woff") format("woff"), url("font/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("font/OpenSans-ExtraBold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Based on simple grid reversed- MOBILE LAST*/
/* Containers */
body {
  padding: 0; }

.grid {
  margin: 0 auto;
  padding: 0;
  width: 1206px; }

.row {
  clear: left; }

.slot {
  padding-left: 0;
  padding-right: 0; }

.no-mobile {
  display: block; }

.only-mobile {
  display: none; }

/* dimension*/
/* Slots Setup */
.slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-1-2, .slot-1-2-3, .slot-1-2-3-4, .slot-1-2-3-4-5, .slot-2-3, .slot-2-3-4, .slot-2-3-4-5, .slot-3-4, .slot-3-4-5, .slot-4-5, .slot-6, .slot-7, .slot-8, .slot-9, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-7-8, .slot-7-8-9, .slot-8-9 {
  display: inline;
  float: left;
  margin-left: 30px; }

/* Zeroing Out Leftmost Slot Margins */
.slot-0, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-6, .slot-6-7, .slot-6-7-8,
.slot-6-7-8-9, .slot-1 .slot-1, .slot-1-2 .slot-1, .slot-1-2 .slot-1-2, .slot-1-2-3 .slot-1, .slot-1-2-3 .slot-1-2, .slot-1-2-3 .slot-1-2-3,
.slot-1-2-3-4 .slot-1, .slot-1-2-3-4 .slot-1-2, .slot-1-2-3-4 .slot-1-2-3, .slot-1-2-3-4 .slot-1-2-3-4, .slot-1-2-3-4-5 .slot-1, .slot-1-2-3-4-5
.slot-1-2, .slot-1-2-3-4-5 .slot-1-2-3, .slot-1-2-3-4-5 .slot-1-2-3-4, .slot-1-2-3-4-5 .slot-1-2-3-4-5, .slot-2 .slot-2, .slot-2-3 .slot-2, .slot-2-3
.slot-2-3, .slot-2-3-4 .slot-2, .slot-2-3-4 .slot-2-3, .slot-2-3-4 .slot-2-3-4, .slot-2-3-4-5 .slot-2, .slot-2-3-4-5 .slot-2-3, .slot-2-3-4-5
.slot-2-3-4, .slot-2-3-4-5 .slot-2-3-4-5, .slot-3 .slot-3, .slot-3-4 .slot-3, .slot-3-4 .slot-3-4, .slot-3-4-5 .slot-3, .slot-3-4-5 .slot-3-4,
.slot-3-4-5 .slot-3-4-5, .slot-4 .slot-4, .slot-4-5 .slot-4, .slot-4-5 .slot-4-5, .slot-5 .slot-5, .slot-7 .slot-7, .slot-7-8 .slot-7, .slot-7-8
.slot-7-8, .slot-7-8-9 .slot-7, .slot-7-8-9 .slot-7-8, .slot-7-8-9 .slot-7-8-9, .slot-8 .slot-8, .slot-8-9 .slot-8, .slot-8-9 .slot-8-9 {
  margin-left: 0 !important; }

/* Important is to avoid repeating this in larger screen css files */
/* 6-Col Grid Sizes */
.slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
  width: 176px; }

/* Sixths */
.slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
  width: 382px; }

/* Thirds */
.slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
  width: 794px; }

/* Two-Thirds */
.slot-0-1-2-3-4, .slot-1-2-3-4-5 {
  width: 1000px; }

/* Five-Sixths */
/* 4-Col Grid Sizes */
.slot-6, .slot-7, .slot-8, .slot-9 {
  width: 279px; }

/* Quarters */
.slot-6-7-8, .slot-7-8-9 {
  width: 897px; }

/* Three-Quarters */
/* 6-Col/4-Col Shared Grid Sizes */
.slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
  width: 588px; }

/* Halves */
.slot-0-1-2-3-4-5, .slot-6-7-8-9 {
  width: 100%; }

/* Full-Width */
/* Row Clearfix */
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.row {
  zoom: 1;
  margin-bottom: 1.5em; }

@media only screen and (max-width: 1206px) {
  /* Containers */
  body {
    font-size: 100%; }

  .grid {
    width: 966px; }

  /* Slots Setup */
  .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-1-2, .slot-1-2-3, .slot-1-2-3-4, .slot-1-2-3-4-5, .slot-2-3, .slot-2-3-4, .slot-2-3-4-5, .slot-3-4, .slot-3-4-5, .slot-4-5, .slot-6, .slot-7, .slot-8, .slot-9, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-7-8, .slot-7-8-9, .slot-8-9 {
    display: inline;
    float: left;
    margin-left: 30px; }

  /* 6-Col Grid Sizes */
  .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
    width: 136px; }

  /* Sixths */
  .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
    width: 302px; }

  /* Thirds */
  .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
    width: 634px; }

  /* Two-Thirds */
  .slot-0-1-2-3-4, .slot-1-2-3-4-5 {
    width: 800px; }

  /* Five-Sixths */
  /* 4-Col Grid Sizes */
  .slot-6, .slot-7, .slot-8, .slot-9 {
    width: 219px; }

  /* Quarters */
  .slot-6-7-8, .slot-7-8-9 {
    width: 717px; }

  /* Three-Quarters */
  /* 6-Col/4-Col Shared Grid Sizes */
  .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
    width: 468px; }

  /* Halves */
  .row {
    zoom: 1;
    margin-bottom: 1em; }
    .row.bc {
      margin-bottom: 0; } }
@media only screen and (max-width: 966px) {
  .grid {
    width: 700px; }

  /* Slots Setup */
  .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5, .slot-0-1, .slot-0-1-2, .slot-0-1-2-3, .slot-0-1-2-3-4, .slot-0-1-2-3-4-5, .slot-1-2, .slot-1-2-3, .slot-1-2-3-4, .slot-1-2-3-4-5, .slot-2-3, .slot-2-3-4, .slot-2-3-4-5, .slot-3-4, .slot-3-4-5, .slot-4-5, .slot-6, .slot-7, .slot-8, .slot-9, .slot-6-7, .slot-6-7-8, .slot-6-7-8-9, .slot-7-8, .slot-7-8-9, .slot-8-9 {
    display: inline;
    float: left;
    margin-left: 20px; }

  /* 6-Col Grid Sizes */
  .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5 {
    width: 100px; }

  /* Sixths */
  .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5 {
    width: 220px; }

  /* Thirds */
  .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5 {
    width: 460px; }

  /* Two-Thirds */
  .slot-0-1-2-3-4, .slot-1-2-3-4-5 {
    width: 580px; }

  /* Five-Sixths */
  /* 4-Col Grid Sizes */
  .slot-6, .slot-7, .slot-8, .slot-9 {
    width: 160px; }

  /* Quarters */
  .slot-6-7-8, .slot-7-8-9 {
    width: 520px; }

  /* Three-Quarters */
  /* 6-Col/4-Col Shared Grid Sizes */
  .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9 {
    width: 340px; }

  /* Halves */
  .row {
    zoom: 1;
    margin-bottom: 0.5em; } }
@media only screen and (max-width: 720px) {
  .no-mobile {
    display: none; }

  .only-mobile {
    display: block; }

  .grid {
    width: auto;
    padding: 0; }

  .row {
    margin-bottom: 0px; }

  /* 6-Col Grid Sizes */
  .slot-0, .slot-1, .slot-2, .slot-3, .slot-4, .slot-5,
  .slot-0-1, .slot-1-2, .slot-2-3, .slot-3-4, .slot-4-5,
  .slot-0-1-2-3, .slot-1-2-3-4, .slot-2-3-4-5,
  .slot-0-1-2-3-4, .slot-1-2-3-4-5,
  .slot-6, .slot-7, .slot-8, .slot-9,
  .slot-6-7-8, .slot-7-8-9,
  .slot-0-1-2, .slot-1-2-3, .slot-2-3-4, .slot-3-4-5, .slot-6-7, .slot-7-8, .slot-8-9,
  .slot-0-1-2-3-4-5, .slot-6-7-8-9 {
    width: 100%;
    float: none;
    display: block;
    padding: 0;
    margin: 0 auto; }

  /* Full-Width */
  .slot {
    margin-bottom: 5px;
    padding: 5px; }

  .slot .row .slot .content {
    margin: 0; } }
/*
@media only screen and (max-width: 1206px){
  body{ background: yellowgreen; }
}
@media only screen and (max-width: 966px) {
  body{ background: hotpink; }
}
@media only screen and (max-width: 720px) {
  body{ background: deepskyblue; }
}
*/
/*Colorset*/
/*Fontset dimension & main typografy*/
/*Commons*/
body {
  color: main-light;
  font-size: 16px;
  font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
  line-height: 1.3em;
  color: #313d44; }

image {
  width: auto;
  height: auto; }

.slot .content {
  margin: 15px; }
  @media only screen and (max-width: 1206px) {
    .slot .content {
      margin: 10px; } }
  @media only screen and (max-width: 966px) {
    .slot .content {
      margin: 8px; } }
  @media only screen and (max-width: 720px) {
    .slot .content {
      margin: 15px; } }

.slot.colored h2 {
  font-variant: small-caps;
  font-family: 'OpenSansRegular'; }
.slot.colored.maincolor {
  background: #d9261c;
  -moz-box-shadow: 2px 3px 4px #333333;
  -webkit-box-shadow: 2px 3px 4px #333333;
  box-shadow: 2px 3px 4px #333333; }
.slot.colored.secondcolor {
  background: #007dc2;
  -moz-box-shadow: 2px 3px 4px #333333;
  -webkit-box-shadow: 2px 3px 4px #333333;
  box-shadow: 2px 3px 4px #333333; }

label {
  display: block;
  font-family: 'OpenSansRegular';
  text-transform: uppercase; }
  label em {
    color: #a59992;
    text-transform: none; }

textarea {
  width: 100%;
  border: 1px solid #CCC;
  padding: 5px; }

input.text {
  border: 1px solid #CCC;
  line-height: 1.2em;
  padding: 5px;
  width: 100%; }
input.wpcf7-submit {
  background: #313d44;
  color: white;
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  cursor: pointer; }
  input.wpcf7-submit:hover {
    background: #e6a400;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear; }

h1 {
  font-family: 'OpenSansRegular';
  font-size: 68px;
  line-height: 1.1em;
  margin-bottom: 0.2em; }

h2 {
  font-family: 'OpenSansRegular';
  font-size: 29px;
  margin-bottom: 0.6em;
  font-weight: normal;
  line-height: 1.2em; }

h3 {
  margin-bottom: 8px; }

h4 {
  font-weight: normal;
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.3em; }

h5 {
  color: #a59992;
  font-weight: normal; }

strong.color_mc {
  color: #d9261c; }
strong.color_sc {
  color: #007dc2; }

p {
  margin-bottom: 0.8em; }

.slot.text ul {
  margin-left: 15px; }
  .slot.text ul li {
    list-style-type: square; }
.slot.text ol {
  margin-left: 15px; }
  .slot.text ol li {
    list-style-type: decimal; }
.slot.text ol, .slot.text ul {
  margin-bottom: 0.8em; }

a {
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

hr {
  display: block;
  border: none;
  border-top: 1px solid #a59992;
  margin-top: 15px;
  margin-bottom: 15px; }

span.gray {
  color: #a59992; }

.slot.center {
  text-align: center; }

.slot.color_mc strong {
  color: #d9261c; }
.slot.color_mc a {
  color: #d9261c; }
.slot.color_mc.text p strong, .slot.color_mc.text p a {
  color: #313d44; }

.slot.color_sc strong {
  color: #007dc2; }
.slot.color_sc a {
  color: #007dc2; }
.slot.color_sc.text p strong, .slot.color_sc.text p a {
  color: #313d44; }

.slot.color_tc strong {
  color: #e6a400; }
.slot.color_tc a {
  color: #e6a400; }
.slot.color_tc.text p strong, .slot.color_tc.text p a {
  color: #313d44; }

.slot.color_fc strong {
  color: #0dc10d; }
.slot.color_fc a {
  color: #0dc10d; }
.slot.color_fc.text p strong, .slot.color_fc.text p a {
  color: #313d44; }

.slot.color_gray {
  background: #e5e5e5;
  color: #383330; }
  .slot.color_gray a {
    color: #383330;
    text-decoration: underline; }
  .slot.color_gray .w-content {
    margin: 20px; }
  .slot.color_gray h2 {
    font-family: OpenSansRegular;
    text-transform: uppercase;
    font-size: 44px;
    margin-bottom: 2px; }
  .slot.color_gray h3 {
    font-family: OpenSansRegular; }
  .slot.color_gray h4 {
    margin-bottom: 8px; }
  .slot.color_gray p {
    line-height: 1em; }
  .slot.color_gray ul {
    margin-bottom: 15px; }

.slot .slot.color_gray {
  margin-bottom: 15px;
  border: 1px solid #e5e5e5; }

.slot.color_b-mc .w-content,
.slot.color_b-sc .w-content,
.slot.color_b-tc .w-content,
.slot.color_b-fc .w-content {
  padding: 10px;
  color: white; }

.slot.color_b-mc {
  background-color: #d9261c; }

.slot.color_b-sc {
  background-color: #007dc2; }

.slot.color_b-tc {
  background-color: #e6a400; }

.slot.color_b-fc {
  background-color: #0dc10d; }

@media only screen and (max-width: 1206px) {
  hr {
    margin-bottom: 8px;
    margin-top: 8px; }

  h2 {
    font-size: 23px; }
    .slot.color_gray h2 {
      font-size: 34px; }

  h4 {
    font-size: 20px; }

  p {
    font-size: 14px;
    line-height: 1.2em; }
    .slot.color_gray p {
      line-height: 1.1em; }

  li {
    font-size: 14px;
    line-height: 1.2em; } }
/*Partials*/
div.header {
  padding-top: 25px;
  border-bottom: 5px solid #313d44;
  @-moz-document url-prefix() {
    .row {
      border: 1px solid transparent; } }
 }
  div.header hgroup {
    float: right;
    text-align: right; }
  div.header h1 {
    font-size: 35px; }
  div.header figure {
    float: left; }
  div.header h2 {
    font-size: 30px;
    margin-top: 13px; }
    div.header h2 strong {
      color: #d9261c; }

div.section.mainmenu {
  border-bottom: 5px solid #313d44;
  margin-bottom: 25px; }
  div.section.mainmenu ul {
    text-align: center; }
    div.section.mainmenu ul li {
      font-family: 'OpenSansRegular';
      font-size: 18px;
      display: inline;
      line-height: 50px; }
      div.section.mainmenu ul li a {
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        border-left: 22px solid #007dc2;
        padding-left: 6px;
        padding-right: 15px; }
      div.section.mainmenu ul li.current-menu-item a, div.section.mainmenu ul li.current_page_item a {
        font-weight: bold;
        text-decoration: underline; }

/* menu mobile accordion*/
.ac-container {
  text-transform: uppercase;
  margin-bottom: 1em; }
  .ac-container input {
    display: none; }
  .ac-container label {
    display: block;
    color: white;
    text-decoration: none; }
  .ac-container article {
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    text-align: center; }
    .ac-container article li {
      line-height: 2em;
      border-bottom: 1px solid white; }
    .ac-container article .menu-mainmenu-container {
      display: none; }
  .ac-container input:checked ~ article {
    height: auto; }
    .ac-container input:checked ~ article .menu-mainmenu-container {
      display: block; }
  .ac-container label,
  .ac-container input:checked + label:hover {
    cursor: pointer;
    background: #313d44 url("images/arrow_down.png") no-repeat center right;
    text-align: center; }
  .ac-container input:checked + label:hover {
    background-image: url("images/arrow_up.png"); }

@media only screen and (max-width: 1206px) {
  div.header {
    min-height: 140px;
    background-repeat: repeat-x;
    background-size: 50%; }
    div.header figure img {
      max-width: 220px; }
    div.header h2 {
      margin-top: 40px; }

  div.section.mainmenu ul li {
    font-size: 15px;
    line-height: 40px; }
    div.section.mainmenu ul li a {
      border-left-width: 18px;
      padding-left: 5px;
      padding-right: 9px; } }
@media only screen and (max-width: 720px) {
  div.header {
    background-image: none;
    min-height: auto; }
    div.header figure {
      margin-top: 10px;
      float: none;
      text-align: center; }
      div.header figure img {
        max-width: 180px; }
    div.header h2 {
      margin-top: 10px;
      text-align: center;
      float: none;
      font-size: 25px; } }
.footer {
  background: #313d44;
  padding-top: 30px;
  min-height: 320px;
  color: white; }
  .footer strong a {
    color: #e6a400; }
  .footer a {
    text-decoration: underline; }
  .footer .footer-info {
    float: left;
    width: 70%; }
  .footer .footer-menu {
    float: right; }
    .footer .footer-menu ul li {
      float: left;
      margin-left: 15px; }
      .footer .footer-menu ul li.iscrizione {
        background: white;
        color: #313d44;
        font-family: OpenSansRegular;
        text-transform: uppercase;
        padding: 7px 15px; }
        .footer .footer-menu ul li.iscrizione a {
          text-decoration: none; }
        .footer .footer-menu ul li.iscrizione:hover {
          background: #e6a400;
          -webkit-transition: background-color 100ms linear;
          -moz-transition: background-color 100ms linear;
          -o-transition: background-color 100ms linear;
          -ms-transition: background-color 100ms linear;
          transition: background-color 100ms linear; }

@media only screen and (max-width: 720px) {
  .footer .footer-info, .footer .footer-menu {
    float: none; }
  .footer .footer-info {
    width: 100%;
    text-align: center; }
  .footer .footer-menu {
    float: right;
    margin-top: 20px;
    position: relative;
    left: -50%;
    text-align: left; }
    .footer .footer-menu ul {
      position: relative;
      left: 50%; } }
/*Vendors*/
/*DEBUG*/
.widget.widget_recent_entries h2.widgettitle {
  font-size: 30px;
  margin-bottom: 8px; }

.widget.widget_recent_entries {
  list-style: none;
  margin: 0; }

.widget.widget_recent_entries li {
  margin-bottom: 10px; }
  .widget.widget_recent_entries li a {
    font-weight: bold; }
  .widget.widget_recent_entries li span {
    display: block;
    font-variant: small-caps;
    color: #a59992; }

table {
  width: 100%; }
  table td {
    padding: 4px;
    border-bottom: 1px solid #a59992; }
  table th {
    background: #a59992;
    color: white; }
  @media only screen and (max-width: 720px) {
    table td, table th {
      display: block; } }
