.footer{ background: $main-dark;
  padding-top: 30px;
  min-height: 320px;  color: $main-light;
  strong{ a{ color: $third-color;}  }
  a{ text-decoration: underline;}
  .footer-info{ float: left; width: 70%;}
  .footer-menu{ float: right;
    ul {

      li{float: left; margin-left: 15px;
        &.iscrizione{ background: $main-light; color: $main-dark; font-family: OpenSansRegular; text-transform: uppercase; padding: 7px 15px ;
          a{ text-decoration: none;}
          &:hover{ background: $third-color;

            -webkit-transition: background-color 100ms linear;
            -moz-transition: background-color 100ms linear;
            -o-transition: background-color 100ms linear;
            -ms-transition: background-color 100ms linear;
            transition: background-color 100ms linear;
          }
        }
      }
    }
  }
}
@media #{$mqPhone} {
  .footer{
    .footer-info,.footer-menu{ float: none; }
    .footer-info{width: 100%; text-align: center;}
    .footer-menu{ float:right; margin-top: 20px;
      position:relative;
      left:-50%;
      text-align:left;
      ul{
        position:relative;
        left:50%;}
    }
  }
}