div.header{ padding-top: 25px;
  hgroup{ float: right; text-align: right; }
  h1{ font-size: 35px; }
  figure{ float: left;}
  h2{  font-size: 30px;  margin-top:13px;
    strong{ color: $main-color; }
  }
   border-bottom: 5px solid $main-dark;
  @-moz-document url-prefix() {
    .row{ border: 1px solid transparent; }
  }
}
div.section.mainmenu{ border-bottom: 5px solid $main-dark; margin-bottom: 25px;
  ul { text-align: center;
    li{ font-family: 'OpenSansRegular'; font-size: 18px; display: inline; line-height: 50px;
      a{ font-weight: normal; text-decoration: none; text-transform: uppercase;  border-left: 22px solid $second-color; padding-left: 6px; padding-right: 15px;   }
       &.current-menu-item, &.current_page_item {a{ font-weight: bold; text-decoration: underline;}}
    }
  }
}
/* menu mobile accordion*/
.ac-container { @include uppercase; margin-bottom: 1em;
  input{ display: none; }
  label{ display: block;  color: $main-light; text-decoration: none;  }
  article{ height: 0; background: $ligt-transparent ; text-align: center;

    li{ line-height: 2em; border-bottom: 1px solid $main-light; }
    .menu-mainmenu-container{display: none;}
  }
  input:checked ~ article{ height: auto;

    .menu-mainmenu-container{ display:block;}
  }
  label,
  input:checked + label:hover{  cursor: pointer;
    background: $main-dark url('images/arrow_down.png') no-repeat center right; text-align: center;
  }
  input:checked + label:hover{
    background-image: url('images/arrow_up.png');
  }
}
@media #{$mqVideo}{
  div.header{
    min-height: 140px; background-repeat: repeat-x; background-size: 50%;
    figure img{ max-width: 220px;  }
    h2{ margin-top: 40px; }
  }
  div.section.mainmenu{
    ul {
      li{  font-size: 15px; line-height: 40px;
         a{  border-left-width: 18px; padding-left: 5px; padding-right: 9px;   }
      }
    }
  }
}
@media #{$mqTablet} {}
@media #{$mqPhone} {
  div.header{ background-image: none; min-height: auto;

    figure{margin-top: 10px;
      float: none; text-align: center;
      img{ max-width: 180px; }
    }
    h2{ margin-top: 10px; text-align: center; float: none; font-size: 25px; }
  }
}